body{
	background-color:#1A5073;
}
/*================================================================
LOGIN  SECTION
================================================================*/
#login-section, #register-section{
	padding-top:100px;
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 768px) {
	#login-section, #register-section {
    	padding-top:150px;
	}
}

/* Medium Devices, Desktops */
@media (min-width: 992px){
	#login-section, #register-section {
    	padding-top:200px;
	}
}